html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cricle {
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
  opacity: 0.1;
  z-index: 1;
  position:absolute;
}

@media screen and (max-width:480px) {
  .cricle {
    width: 80vh;
    height: 80vh;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 1;
    position:absolute;
  }
  

}
