.container{
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    max-width: 300px;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

    color: #343f3a;
    width: max-content;
    margin-bottom: 20px;
    text-align: center;
}
.subtitle {
    max-width: 300px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    color: rgb(107, 107, 107);
}

.services {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.service {
    position: relative;
    height: 300px;
    width: 300px;
    padding: 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
}
.desc {
    width: 50%;
    height: 60%;
    position: absolute ;
    text-align: center;
    background-color: rgba(216, 216, 216, 0.349);
    padding: 10px;
    z-index: 1;
    border-radius: 10px;
    color: whitesmoke;
    transition: all 1s linear;
    opacity: 0;
    overflow: hidden;
}
.service:hover .desc {
    opacity: 1; 
}
.cat {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba(179, 179, 179, 0.582);
    font-weight: 600;
}
.media {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: rgb(177, 177, 177);
    transition: all 1s linear;
    overflow: hidden;
    cursor: pointer;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service:hover .media {
    transform: scale(1.1);
}

/* // RESPONSIVE // */
@media screen and (max-width:480px) {
    .container{
        padding: 20px;
    }
    .title {
        font-size: 20px;
    }
    .subtitle {
        font-size: 14px;
    }
    .services {
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .service {
        height: 250px;
        width: 250px;
        padding: 6px;
    }
    .cat {
        position: absolute;
        top: 5px;
        left: 5px;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 2px;
    }
}